In [1]:
s = 'saisri angajala'

In [3]:
s.capitalize() #captilizes the first word of str

'Saisri angajala'

In [4]:
s.title() #captailizes the first letter in the each word in the str

'Saisri Angajala'

In [5]:
s.count('s') #returns the number of 's'

2

In [6]:
s.count('z')

0

In [7]:
s.find('s') #returns the first index at which it is encountered..

0

In [8]:
s.find('z')#if anything not found it would return -1..

-1

In [9]:
s

'saisri angajala'

In [10]:
s.center(20,'z') #centers the string with provided parameter as ends..20 is the total length of the string..

'zzsaisri angajalazzz'

In [12]:
s.center(4,'z') #if it is not satisfied,it would returns the original str

'saisri angajala'

In [14]:
'hello\tsai'.expandtabs() #if there is a tab it would expand it..

'hello   sai'

In [15]:
'hellosai'.expandtabs()#if there is no tab ,it would return same str

'hellosai'

In [22]:
s = 'hello'
k = 'hello9'
p= 'saisri angajala'
s.isalnum() #check wheteher all the characters are alphanumeric or not..and returns the  boolean..

True

In [21]:
k.isalnum() #alpha numeric mean containing both alphabets and digits from 1 too 9

True

In [25]:
p.isalnum() #spaces does not belong to alnum

False

In [26]:
s.isalpha() #alpha mean alphabets..

True

In [28]:
k.isalpha()#because digits are not alphabets..

False

In [29]:
s = 'saisri angajala'

In [31]:
s.islower()#will return true ,if all the letters are lower

True

In [32]:
s.isupper()#will return true ,if all the letters are upper

False

In [33]:
s.istitle()#will return true,if title condition valid...

False

In [34]:
s.endswith('a')#if string endswith letter same as argument

True

In [35]:
s.split('a')#splits the list according to argument..returns a list.

['s', 'isri ', 'ng', 'j', 'l', '']

In [37]:
s.split('z')#if there is no specified letter in str ,it would return the whole sttr

['saisri angajala']

In [38]:
s.partition('a')#unlike split it would seperrate only at the first occurance..and also places the sepeartor in middle..

('s', 'a', 'isri angajala')