In [1]:
s = set()

In [2]:
s.add(1)

In [3]:
s.add(2)

In [4]:
s.add(3)

In [5]:
s

{1, 2, 3}

In [6]:
#we can clear the set by using clear method..
s.clear()

In [7]:
s

set()

In [8]:
s = {1,2,3,4,5}

In [9]:
sc = s.copy() #coping set into other..

In [10]:
sc

{1, 2, 3, 4, 5}

In [12]:
s.difference(sc) #checks whethere there are different numbers in both the sets

set()

In [13]:
s.add(6)

In [14]:
s.difference(sc)#6 is in s ,but not in sc so returns 6..as set

{6}

In [16]:
s1 = {1,2,3,4,5}
s2 = {1,2,7,8}
s1.difference_update(s2)

In [18]:
#returns the set1 after removing the elements that are common in set1 &set2
#it modifies the set..
s1

{3, 4, 5}

In [20]:
s1.discard(3)
s1 #if num is in set, it discards it..

{4, 5}

In [22]:
s1.discard(12)#if not ,nothing happens

In [27]:
s1 = {1,2,3,4,9,10}
s2 = {1,2,3,4,5,6,7}

In [28]:
s1.intersection(s2)#reurns set of common ele

{1, 2, 3, 4}

In [29]:
s1.intersection_update(s2)

In [31]:
s1#updates the s1 to intersection of s1 & s2,orginally s1 is {1,2,3,4,9,10}

{1, 2, 3, 4}

In [32]:
s1 = {1,2,3,4,5}
s2 ={6,7,8,9}
s1.isdisjoint(s2) #returns true if they dont have intersection..

True

In [33]:
s1 = {1,2,3}
s2 = {1,2,3,4,5,6}

In [34]:
s1.issubset(s2)#checking whether s1 is subset of s2 or not..

True

In [36]:
s2.issuperset(s1)#whether s2 is superset of s1 or not..

True

In [37]:
s1.union(s2)#returns of union of two sets..

{1, 2, 3, 4, 5, 6}